:host {
  // --md-icon-button-icon-size: 32px;
  --md-filled-text-field-label-text-color: var(--color-outline);
  --md-filled-text-field-disabled-label-text-color: var(--color-outline);
  --md-filled-text-field-label-text-font: system-ui;
  --md-filled-text-field-input-text-font: system-ui;
  --g-sidebar-tab-select-color: var(--color-primary);
  // --g-sidebar-tab-on-color: var(--color-on-surface);
  --g-sidebar-tab-on-color: red;
  --g-sidebar-panel-min: 50px;
  --g-sidebar-panel-max: 1024px;
}

#root {
  color: var(--color-on-surface);
}

.toolbox {
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.15rem;
  // background-color: yellow; /*rgb(25, 118, 210); */

  &_title {
    padding: 1.5rem;
    font-size: 1.25rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  &_btn {
    fill: var(--color-on-surface);
    margin: 1rem;
    &:active {
      opacity: 0.8;
    }
  }
}

.property-box {
  width: 100%;
  flex-direction: column;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.sidebar-icon svg {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-on-surface);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
