//index.scss
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

md-text-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.container {
  width: 1200px;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plans {
  color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: 1rem;
  gap: 2rem;
}

.plan-item {
  position: relative;
  display: flex;
  user-select: none;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.plan-actions {
  position: absolute;
  inset-inline-end: 0.1rem;
  inset-block-end: 0.1rem;

  & svg {
    fill: cornflowerblue;
    width: 1rem;
    height: 1rem;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.65;
    }
  }
}

h1 {
  margin: 0.5rem;
}

#new-plan svg {
  fill: cornflowerblue;
  width: 1.5rem;
  height: 1.5rem;
  margin-inline-start: 1rem;
  margin-block-end: 0.5rem;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.65;
  }
}

.modal {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);

  &_backdrop {
    display: none;
    width: 100dvw;
    height: 100dvh;
    background-color: gray;
    opacity: 0.3;
  }

  &_dialog {
    position: absolute;
    inset-inline-start: 0%;
    inset-block-start: 50%;
    transform: translate(0%, -50%);
    padding: 2rem;
    border: #2b2b2b;
    border-radius: 0.3rem;
    background: #545454;
    color: white;
    transition: all .5s;
    padding-block-start: 2rem;
    text-align: center;
    &_body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &_close {
    position: absolute;
    inset-block-start: 0.5rem;
    inset-inline-end: 0.5rem;
    background-color: transparent;
    border: transparent;
    color: white;
    outline-style: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    & svg {
      width: 20px;
      fill: white;
    }
  }

  &_ok {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100px;
    height: 34px;
    margin-block-start: 0.6rem;
    background-color: blue;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
