<div id="root">
  <md-filled-text-field id="id" label="id" type="text"></md-filled-text-field>
  <md-filled-text-field id="x" label="x" type="text"></md-filled-text-field>
  <md-filled-text-field id="y" label="y" type="text"></md-filled-text-field>
  <md-filled-text-field
    id="width"
    label="width"
    type="text"
  ></md-filled-text-field>
  <md-filled-text-field
    id="height"
    label="height"
    type="text"
  ></md-filled-text-field>
  <md-filled-text-field
    id="rotate"
    label="rotate"
    type="text"
  ></md-filled-text-field>
  <div id="otherCustomComponent">
    <div class="form-builder">
      <label for="open">Open</label>
      <md-checkbox id="open" touch-target="wrapper"></md-checkbox>
    </div>
  </div>
</div>
