#root {
  color: var(--color-on-surface);
}

md-filled-text-field {
  display: flex;
}

#otherCustomComponent {
  display: none;
}

.form-builder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-block-start: 5px;
  padding-inline-start: 15px;
}

#open {
  justify-self: end;
  align-self: end;
  padding-inline-end: 3px;
}
