:host {
    --toolbar-height: var(--g-toolbar-height, 100px);
}

#root {
    position: absolute;
    inset-inline-start: 0px;
    inset-block-start: 0px;
    background-color: #CED4DA;
    width: 100dvw;
    height: var(--toolbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

md-icon-button {
    padding-inline: 0.5rem;
}

md-icon-button svg {
    fill: #42424a;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
        opacity: 0.85;
    }

    &:active {
        opacity: 0.65;
    }
}